html, body {
    width: 100%;
    height: 100%;
}

#scroll>.sqin>.left>.text {
    font: 20px "微软雅黑";
    font-weight: 400;
    margin-right: 40px;
    padding-top: 20px;
}
#scroll>.sqin>.right>.myself2 table {
    border:solid #add9c0; 
    border-width:1px 0px 0px 1px;
    text-align: center;
}
#scroll>.sqin>.right>.myself2 td {
    border:solid #add9c0; 
    border-width:0px 1px 1px 0px;
}

form {
	display: table;
	padding: 10px;
	border: thin dotted #7e7e7e;
}
form textarea {
	width: 500px;
	height: 200px;
}

div.tableRow {
	display: table-row;
}

div.tableRow p {
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}
div.tableRow p:first-child {
	text-align: right;
}
p.heading {
	font-weight: bold;
}

div.sqin{
    width: 100%;
    height: 100%;
    background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1591793922539&di=b89f7f27827bc1290999d9dc76030e60&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fe%2F57f8570a7b841.jpg");
    background-size: 100% 100%;
}
